@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@layer utilities {

    .pricingBg {
        /* background: linear-gradient(90deg, hsla(313, 39%, 93%, 1) 0%, hsla(321, 65%, 89%, 1) 50%, hsla(193, 81%, 84%, 1) 100%); */
        background-image: linear-gradient(to bottom,
                rgb(209, 197, 221) 0.9%,
                white);
    }

    .footerBg {
        background: linear-gradient(120deg, hsla(211, 66%, 87%, 1) 0%, rgb(219, 208, 235) 50%, rgb(233, 219, 245) 100%);

    }

    .heading1 {
        font-size: 50px;
        font-weight: 700;
        line-height: 55px;
        letter-spacing: -2%;
        text-align: center;
        color: '#1F2937';
    }

    .button-primary {
        padding: 16px 34px 16px 34px;
        gap: 10px;
        border-radius: 8px;
        background-color: '#1F2937';
        color: '#F9FAFB';
        font-weight: 500;
        font-size: 20px;
    }

    .button-outline {
        background-color: transparent;
        color: '#4B5563';
        border: 1px solid gray;
        padding: 12px 30px;
        border-radius: 8px;
        gap: 10px;
    }

    .logo {
        font-size: 24px;
        line-height: 32.4px;
        letter-spacing: -2%;
        color: '#374151';
        font-weight: 700;
    }




    .padding {
        @apply sm:px-16 px-8 sm:py-24 py-12;
    }

    .padding-x {
        @apply sm:px-16 px-8;
    }

    .padding-y {
        @apply sm:py-24 py-12;
    }

    .padding-l {
        @apply sm:pl-16 pl-8;
    }

    .padding-r {
        @apply sm:pr-16 pr-8;
    }

    .padding-t {
        @apply sm:pt-24 pt-12;
    }

    .padding-b {
        @apply sm:pb-24 pb-12;
    }

    .info-text {
        @apply font-montserrat text-slate-gray text-lg leading-7;
    }
}